body {
}

/*Big Screen*/
@media (min-width: 650px) {
  .content {
    width: 50vw;
  }

  iframe {
    width: 100%;
    height: auto;
  }
}

/*Small Screen*/
@media (max-width: 650px) {
  .content {
    width: 100vw;
  }

  iframe {
    width: 100%;
    height: auto;
  }
}

.main {
  display: flex;
  width: 100vw;
  justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    margin-top: 2vh;
    margin-bottom: 2vh;
    height: auto;
    border-color: white;
    color: white;
    background: none;
    background-color: black;
    border-radius: 15px;
}

.content * {
    margin-top: 10px;
}

.content p {
    padding-left: 1.05em;
    padding-right: 1.05em;
    text-indent: 12.5px;
}
