#blog_header {
    padding-left: 10px;
    padding-top: 5px;
}

#reading_list {
    padding: 5px;
}

.book {
}


.book .info {
    display: none;
}

.book:hover {
    background-color: rgba(104,131,139, 0.1);
}

.title {
    padding: 5px;
    cursor: pointer;
    user-select: none;
}

.info {
    padding-left: 5px;
}
