.sidebar{
    width: 20%;
    max-height: 91vh;
    border-left: 3px solid rgb(39, 0, 93);
    background-color: #efcee4;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 0;
}
body.dark .sidebar{
    background-color: black;
    border-color: white;
}

hr {
    color: #26095a;
    width: 95%;
    margin: 10px;
}
body.dark hr{
    color: white;
}

#sidebar_button{
    display: flex;
    position: fixed;
    top: calc(9vh + 10px); 
    right: calc(20% + 10px); 
    z-index: 11;
    font-size: small;
    width: 35px;
    height: 35px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.grid_container {
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    width: 75%;
    max-width: 1200px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
}

.cell {
    min-width: 0;
    min-height: 0;
    overflow: hidden;
    padding: 1rem;
    border: 1px solid #26095a;
    border-collapse: collapse;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
body.dark .cell{
    background-color: transparent;
    color: white;
    border-color: white;
}

.bulletin{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-collapse: collapse;
    border-top: 1px solid #26095a;
    border-bottom: 2px solid #26095a;
    background: rgb(200, 176, 233);
    display: flex;
    flex-direction: column;
    font-size: calc(1rem);
}
body.dark .bulletin{
    background: black;
    border-color: white;
    color: white;
}

.bulletin img{
    height: 50px;
    width: 100%;
}

.endeavors{
    margin-top: 10px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 100px;
    overflow-y: scroll;
}

.sidebarh1{
    font-size: calc(0.3rem + 1vw);
    padding-left: 10px;
    padding-right: 10px;
}

#worldgeneration {
    border: 3px solid #26095a;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body.dark #worldgeneration {
    cursor: grab;
    border-color: white;
}