body {
    background-color: rgb(39, 0, 93);
    align-items: center;
    margin: auto;
}

p, h1 {
    color: rgb(174, 210, 255);
    
}

h1 {
    font-size: 2.5vw;
    text-align: center;
}

.title {
    width: 80%;
    height: 5%;
    align-items: center;
    margin: auto;
}

.page {
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: row;
}

.explorer {
    width: 65%;
    height: 75%;
    margin-top: 12.5%;
    margin-bottom: 12.5%;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
}

.sidebar {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: solid;
    border-color: rgb(148, 0, 255);
    border-width: 1em;
}

.grid {
    width: 100%;
    height: 100%;
    border: solid;
    border-color: rgb(148, 0, 255);
    border-width: 1em;
}

.t {
    border-bottom-width: 0.5em;
}

.m {
    border-top-width: 1em;
    border-bottom-width: 0.5em;
}

.b {
    border-top-width: 1em;
}

.br {
    position: relative;
    display: flex;
    justify-content: center;
}

.br img {
    width: 50%;
    height: 50%;
    padding-top: 25%;
    padding-bottom: 25%;
}
